.heading {
  padding-bottom: 2rem;
  color: #555;
}
.MuiFormControl-root {
  padding-bottom: 1.5rem !important;
}
.submitBtn {
  margin-top: 3rem !important;
}
.resource_form {
  color: rgb(49, 48, 48);
  width: 100%;
}
h5 {
  color: #555;
}
