.main {
  text-align: -webkit-center;
}
.create-box {
  background: #e5e5f6 !important;
  border-radius: 3%;
  box-shadow: none !important;
  text-align: center;
  color: #686666de !important;
  min-height: 150px;
  width: 150px;
  cursor: pointer;
}

.create-box :hover {
  color: #293b5f;
  text-shadow: 0 0 8px rgb(156, 141, 141);
}

.create-box:hover::before {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .main {
    text-align: -webkit-center;
  }
  .navbar-expand {
    text-align: center;
    flex-wrap: wrap !important;
  }
}

.modal-content {
  color: #293b5f;
  background-color: #e8e8ff !important;
}

.modal input:focus {
  outline: none;
  border-color: #344fa1;
}

.action-btn {
  background-color: #293b5f !important;
  border: none;
  border-radius: 10px !important;
  color: #fff;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.0625rem;
  /* line-height: 0.875rem; */
  text-align: center;
  min-width: 100px;
  text-transform: uppercase;
}
