.brand {
  font-weight: 400px;
  color: #fff;
}

.navbar {
  background-color: #293b5f;
  /* background: linear-gradient(to right, #48436b, #6c5b7b, #ddb6d4); */
}

.login-logo {
  cursor: pointer;
  color: #fff;
  padding-right: 3%;
  margin: 2%;
}
