.policy {
  background-color: rgba(207, 152, 243, 0.5);
  color: rgb(34, 30, 30);
}

.policyForm {
  padding: 10%;
}

.resource_policy {
  margin: 3%;
  line-height: 3rem;
}

span {
  padding-left: 1rem;
}

p.resource_policy {
  margin-bottom: 2.5rem;
}
label {
  font-weight: 500 !important;
  color: rgb(54, 52, 52);
}

.glyphicon-plus {
  height: 500px;
}
